.loginOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.loginPage {
  width: min(450px, 90%);

  background: white;

  padding: 40px;
  border-radius: 18px;
 position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.loginTitle {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
}
.switchAuthText {
  margin-top: 16px;
  font-size: 14px;
}

.switchAuthText span {
  margin-left: 6px;
  font-weight: 700;
  cursor: pointer;
}