.planetCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-16);
  padding: var(--spacing-20);
  background-color: black;
  border-radius: var(--spacing-16);
  width: 100%;
  min-height: 100%;
}

.planetThumbnail {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.planetDescription {
  text-align: center;
}

.planetDescription h3 {
  margin: 0 0 var(--spacing-08);
  font-size: 1.5rem;
  color: #fff;
}

.planetDescription p {
  margin: 0;
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
}

