.event-list {
  padding: 32px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 32px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.pagination button {
  padding: 8px 18px;
  border: 1px solid #999;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin: 0 8px;
   min-width: 90px;
}



.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .event-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}